body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    background-color: gray;
    margin: 0;
    padding: 0;
}

#DAG {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    padding: 10px;
    width: 90min;
    height: 100vh;
    overflow: auto;
    margin-left: 1rem;
    margin-right: 1rem;

}

#SVG {
    display: flex;
    flex-flow: column;
    width: 95%;
    height: 70%;
    margin-right: 0.5rem;
}

#file-selector {
    display: none;
}

h3 {
    font-size: 1em;
    color: rgb(44, 9, 9);
    padding-left: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h5 {
    font-size: 0.7em;
    color: rgb(44, 9, 9);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#input-data {
    align-items: stretch;
    height: 60%;
    border-style: dashed;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-color: gray;
    resize: none;
    background-color: #f5f5f8;
    cursor: text;
    outline: none;
}

#data-container {
    display: flex;
    height: 30vh;
    flex-direction: column;
    width: 95%;
    overflow: auto;
    margin-left: 0.5rem;
    margin-top: 1rem;
}

#button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

#sketch, #clear, #file-input {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    background-color: lightgray;
    border-radius: 1rem;
    box-shadow: 20px 10px 15px darkgray inset;
    color: rgb(10, 44, 9);
    width: 6rem;
    cursor: pointer;
}

@media (min-width: 60em) and (orientation: landscape) {

    #input-data {
        height: 300vh;
    }

    #SVG {
        display: flex;
        flex-flow: column;
        width: 95%;
        height: 95vh;
        margin: 1rem;
    }

    #DAG {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: stretch;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px #ccc;
        padding: 10px;
        width: 90min;
        height: 100vmin;
        overflow: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #data-container {
        display: flex;
        height: 100vh;
        flex-direction: column;
        width: 40%;
        overflow: auto;
}

    h3 {
        font-size: 1.2em;
        color: rgb(44, 9, 9);
        padding-left: 0.5rem;
    }
    
    h5 {
        font-size: 1em;
        color: rgb(44, 9, 9);
    }

    #sketch, #clear, #file-input {
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
        background-color: lightgray;
        border-radius: 1rem;
        box-shadow: 20px 10px 15px darkgray inset;
        color: rgb(44, 9, 9);
        width: auto;
        height: auto;
        cursor: pointer;
    }

    #button-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 100em) {
    #sketch, #clear, #file-input {
       
        padding: 0.5rem 3rem;
 
    }
}